
body {
	position: relative;
}

header .navbar {
  padding: 30px 0;
  transition: all .5s ease-out;
}
header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
    color: white;
    padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #fd8402;
}

header .navbar-default .navbar-nav .active a {
  color: black;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: black;
  background: transparent;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:focus {
  color: black;
  background: transparent;
  background-color: transparent;
  text-shadow: none;  
}

/**  Navbar Brand **/

header .navbar-brand {
  background: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 15px 0;
  height: auto;
}

header .navbar-brand h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 50px;
}

header .navbar-brand span.subhead {
  display: block;
  font-size: .6em;
  font-weight: 100;
}

/**  Navbar Toggle **/
header .navbar-toggle {
  background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: rgba(0,0,0, .5);
  }
}

/**  nav inbody **/

header .inbody {
  background: #5c586b;
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 50px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-left: 12px;
}

header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 38px;
}

header span.subhead {
  margin-left: 20px;
}

header .inbody .navbar-brand span.subhead {
  z-index: 40px;  
  margin-left: 0px;
  /*display: none;*/
}


/**  Carousel Fade **/

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.page {
	padding: 50px 0;
}

.page h2 {
	text-align: center;
	margin-bottom: 30px;
}

/*Mission Section*/

#mission {
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #EEF08A, #819A2D);
	border-top: 2opx solid rgba(238, 200, 86, .5);
}


.service {
	padding: 20px 0;
	text-align: center;
}

#services img.icon {
	display: block;
	width: 80px;
	margin: 0 auto;
	margin-bottom: 5px;
}

#services h3 {
	margin-bottom: 10px;
}

.listing  {
  display: block; 
  text-align: left;
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px) { 
	.service p {
		padding: 0 20%;
	}
	#staff p, #managment p {
		padding: 0 20%;
	}
	#inputtext {
		width: 100%;
	}
}


#staff img.img-circle, #managment img.img-circle {
	display: block;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 5px;

}


#staff h3, #managment h3 {
	text-align: center;
}


#carousel-example-generic  {
    width: 100%;
    height: 50%;
    overflow: hidden;

}

#carousel-example-generic img {
    overflow: hidden;
} 


/*Map*/
@media screen only
and (min-width: 350px)
and (max-width: 720px) {
  #mapframe {
    display: block;
    width: 50%;
    padding: 0 2%;
  }


}

/* Footer */

footer {
	background: #808080;
	color: #f5f7f8;
}
footer h3 {
	padding-bottom: 20px;
	color: #fff;
}
footer hr {
	border-top: 1px solid #4e4e4e;
	margin: 70px 0 0 0;
}
footer p span {
	color: #fff;
}
footer>.container>.row:first-child {
	padding: 45px 0;
}
footer .text-center {
	padding: 40px 0;
	margin: 0;
}
footer .form-group {
	width: 90%;
}
footer button.btn-primary {
	position: relative;
	top: 10px;
}
footer button.btn-primary:focus {
	outline: none;
}

/*Social Icons*/

.socialicon {
	position: relative;
	display: inline-block;
	width: 32px;
	margin-right: 5px;
	height: 32px;
}
.socialicon-twitter {
	background: url('../images/social/twitter.png') no-repeat;
}
.socialicon-facebook {
	background: url('../images/social/facebook.png') no-repeat;
}
.socialicon-google {
	background: url('../images/social/google.png') no-repeat;
}
.socialicon-mail {
	background: url('../images/social/mail.png') no-repeat;
}
.socialicon-twitter:hover {
	background: url('../images/social/twitter_a.png') no-repeat;
}
.socialicon-facebook:hover {
	background: url('../images/social/facebook_a.png') no-repeat;
}
.socialicon-google:hover {
	background: url('../images/social/goolge_a.png') no-repeat;
}
.socialicon-mail:hover {
	background: url('../images/social/mail_a.png') no-repeat;
}

#bottom_page {
  padding-bottom: 40px;
  padding-top: 20px;
}
